@import "core/variables";
@import "core/header";
@import "core/v-main";
@import "core/toast";
@import "core/toolbar";
@import "core/label";
@import "core/v-datatable";
@import "core/utils";

// Customized
@import "customized/scrollbar";

html {
  overflow-y: scroll;
}

body {
  background-color: #ffffff;
}

.apexcharts-canvas .apexcharts-toolbar {
  z-index: 0;
}
