VUE_APP_I18N_LOCALE=ru
VUE_APP_I18N_FALLBACK_LOCALE=ru
VUE_APP_YANDEX_METRIKA_ID=0
VUE_APP_PROCESS_ACTIVITY_URI=ws://84.201.160.194:8900

VUE_APP_API=https://<api>
VUE_APP_SSE=https://<sse>
VUE_APP_WS=https://<ws>

# VUE_APP_DEV_SERVER_PUBLIC=https://dev
# VUE_APP_DEV_SERVER_PORT=443
