VUE_APP_I18N_LOCALE=ru
VUE_APP_I18N_FALLBACK_LOCALE=ru
VUE_APP_YANDEX_METRIKA_ID=0
VUE_APP_PROCESS_ACTIVITY_URI=https://ws.domain.online
VUE_APP_API=https://app.domain.online
VUE_APP_SSE=https://sse.domain.online
