
.label {
  display: inline-block;
  padding: 1px 6px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .2rem;
}

.label-small {
  font-size: 11px;
}

.label-outlined {
  border: thin solid currentColor;
  background-color: transparent;
}
