
.toast {
  &-error {
    background-color: #f44b4b !important;
    color: white !important;
  }

  &-warning {
    background-color: #e6bf3f !important;
    color: white !important;
  }

  &-info {
    background-color: #131515 !important;
    color: white !important;
  }

  &-success {
    background-color: #44c144 !important;
    color: white !important;
  }
}

.incoming-rtc-toast {
  padding: 10px !important;
  background-color: #2b0024ba !important
}
