
.height {
  &-vh {
    &-10 { height: 10vh; }
    &-20 { height: 20vh; }
    &-30 { height: 30vh; }
    &-40 { height: 40vh; }
    &-50 { height: 50vh; }
  }
}

.none-user-select {
  user-select: none;
}

.text-mono {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;
}
