
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $primary-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color;
  height: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}
